<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExemplaryGames</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- asp-append-version: always load the newest css/js instead of the old cached version -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/ExemplaryGames.styles.css" asp-append-version="true" />
    

</head>
<body>
    <header>
        <h1>Exemplary Games</h1>
        <nav>

            <a class="logo" asp-controller="Home" asp-action="Index"><img src="/images/exemplaryGamesLogo.png" alt="Exemplary Games"></a>
            
            <form class="search-bar" asp-controller="Games" asp-action="Index" method="get">
                <input type="search" name="search" placeholder="search" value="@(Context.Request.Query["search"])" /> <!-- (Context.Request.Query["search"]) preserves the value in the search bar if we leave -->
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <ul>
                <li><a asp-controller="Games" asp-action="Index">Browse</a></li>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li><a asp-controller="Games" asp-action="Create">Sell</a></li>
                    <li><a asp-controller="Users" asp-action="Profile">Profile</a></li>
                    //Makes a get request and causes error: <li><a asp-controller="Users" asp-action="Logout">Logout</a></li>
                    <li>
                        <form asp-controller="Users" asp-action="Logout" method="post" id="logoutForm">
                            @Html.AntiForgeryToken()
                            <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                        </form>
                    </li>

                }
                else
                {
                    <li><a asp-controller="Users" asp-action="Register">Sign Up</a></li>
                    <li><a asp-controller="Users" asp-action="Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>
    <div class="flashMessages">

        @if (TempData["ErrorMessage"] is string errorMessage)
        {
            <div class="errorMsg">@errorMessage</div>
        }

        @if (TempData["SuccessMessage"] is string successMessage)
        {
            <div class="successMsg">@successMessage</div>
        }
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p><i class="fa-regular fa-copyright"></i> Exemplary Games</p>
        <div class="socials">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
